{{#partial "content"}}
<!--    <div class="page-header">-->
<!--        <h1 class="text-center text-white mt-5 " id="h1-1">Welcome to Wildlife Tracker.</h1>-->
<!--        <hr>-->
<!--        <h1 class="text-center text-white mt-5 " id="h1-1">Interact with our Application.</h1>-->
<!--    </div>-->
    <div class="container pt-5 demo">
                <h2>Wildlife Conservation Society</h2>
               <p> We Stand for Wildlife®</p>
    </div>
<div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-md-8 bg-white">
            <h3 class="pt-3 pb-2 text-success">DUOGLAS FIR</h3>
            <p>Duoglas Wildlife Conservation is an organisation dedicated to the conservation
            <br>of biodiversity, animal species and their habitats, <br> through the collaboration with <br>
            local residents and organisations in Panama.<p/>
        </div>
<!--        <div class="col-md-5">-->
<!--            <img src="/images/ol2.jpeg" height="500px" width="500px">-->
<!--        </div>-->
    </div>

</div>
<div class="container text-center bg-white mt-4 mb-4" style="float:right; width: 700px">
    <h1 class="text-success pt-3 pb-3">OUR MISSION</h1>
    To promote the conservation of wildlife, its natural habitat throughout the
    <br> geographical range of each species, as well as its peaceful coexistence with <br>man, through research and conservation strategies.
</div>

{{/partial}}
{{>layout.hbs}}