body{
    text-align: center;
    background-image:url("/images/f2.jpeg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.animalform{
background-color: black;
text-align: center;
color: white;
}
.form-group{

}
form{
    background-color:green;
    text-align: center;
        width:50%;
        margin:auto;
        margin-top:50px;
        text-align:center;
}

.views-animals{
   display: flex;
   flex-wrap: wrap;

}