{{#partial "content"}}
    <div class="page-header">
        <h1 class="text-center mt-5 " id="h1-1">Welcome to Wildlife Tracker.</h1>
        <hr>
        <h1 class="text-center mt-5 " id="h1-1">Interact with our Application.</h1>
    </div>
{{/partial}}
{{>layout.hbs}}